// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cecedb;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.overall-page-container {
  display: flex;
}
.side-menu-container {
  width: 250px;
}
.main-content-right {
  flex-grow: 1;
  // overflow-y: auto;
}
.collapsed .side-menu-container {
  width: 100px;
}
.collapsed .navbar-search-container {
  width: 50% !important;
}
.main-content {
  background-color: #f7f7f7;
  height: 100vh;
  overflow-y: auto;
}

@import "@/styles/base/colors.scss";
@import "@/styles/sidebar.scss";
@import "@/styles/navbar.scss";
@import "@/styles/footer.scss";
@import "@/styles/spinner.scss";
@import "@/styles/home.scss";


@import "@/styles/cards.scss";
@import "@/styles/notice.scss";
