$primary-color: #007bff;
$white: #ffffff;
$black:#000000;
$secondary-color: #6c757d;
$accent-color: #363226;
$global-blue-color:#1677ff;
$light-white-color:#ebebeb;
$light-bg-white-color:#ffe9e9;


$sidebar-text-color:#a6a8aa;
$sidebar-text-active-color:#ffffff;
$sidebar-text-active-bg-color:#1677ff;


$main-bg-color:#f7f7f7;










